{% extends "base.html" %}
{% block content %}

      <div class="row-fluid">
        <div class="span9">

      <div class="jumbotron">
        <h3 class="muted"><img src="{{ STATIC_URL }}img/python-goias.png"></img></h3>
        <h1>GruPy-GO</h1>
        <p class="lead">Grupo de Desenvolvedores <b>Python</b> do <b>Estado de Goiás</b></p>
        <p>Mail List: <a href="http://groups.google.com/group/grupy-go">http://groups.google.com/group/grupy-go</a></p>
        <p><a href="https://www.facebook.com/groups/grupygo/"> Facebook Group</a></p>
         <iframe src="https://www.facebook.com/plugins/like.php?href=grupygo.org"
        scrolling="no" frameborder="0"
        style="border:none; width:450px; height:80px"></iframe>

        <div class="fb-comments" data-href="http://grupygo.org" data-width="470" data-num-posts="10"></div>
      </div>
        </div>

        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
                <li class="nav-header">Powered by:</li>
                <li><a href="http://www.python.org/"><img
                   src="{{ STATIC_URL }}img/python_powered.png"
                   border="1"
                   alt="Python powered"
                   title="Python powered"></a>
                </li>
                <li><a href="http://flask.pocoo.org/"><img
                   src="{{ STATIC_URL}}img/flask-powered.png"
                   border="0"
                   alt="Flask powered"
                   title="Flask powered"></a>
               </li>
                <li> <a href="http://wiki.nginx.org/"><img
                   src="{{ STATIC_URL }}img/nginx-logo.png"
                   border="2"
                   alt="Nginx powered"
                   title="Nginx powered"></a>
               </li>

               <li><a href="http://projects.unbit.it/uwsgi/"><img
                   src="{{ STATIC_URL }}img/logo_uWSGI.png"
                   border="0"
                   alt="uWSGI powered"
                   title="uWSGI powered"></a>
               </li>

               <li><a href="http://www.debian.org/"><img
                   src="{{ STATIC_URL }}img/debian.png"
                   border="0"
                   alt="Debian powered"
                   title="Debian powered"></a>
               </li>
                     <hr>
               <li class="nav-header">Hosted by:</li>
               <li><a href="http://hostie.com.br"><img
                   src="{{ STATIC_URL }}img/hostie.png"
                   border="0"
                   alt="Hosted by Hostie"
                   title="Hosted by Hostie"></a>
               </li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
    </div>
 



{% endblock %}